@inherits LuanNiao.Blazor.Core.LNBCBase
@using LuanNiao.Blazor.Component.Antd.Icons
@using Microsoft.AspNetCore.Components.Web
<CascadingValue Value="this">
    <div class="@ClassName">
        @ChildContent

    </div>
</CascadingValue>
