@inherits LuanNiao.Blazor.Core.LNBCBase


<div class="@ClassName" style="@CStyle" role="separator">
    @if (ChildContent != null)
    {
        <span class="ant-divider-inner-text">@ChildContent</span>
    }
</div>