@inherits LuanNiao.Blazor.Core.LNBCBase

<CascadingValue Value="this">
    <div class="@ClassName" style="@CStyle">
        @ChildContent
        @*<span>
                <span class="ant-breadcrumb-link">Home</span><span class="ant-breadcrumb-separator">/</span>
            </span><span>
                <span class="ant-breadcrumb-link">List</span>
                <span class="ant-breadcrumb-separator">/</span>
            </span><span>
                <span class="ant-breadcrumb-link">App</span><span class="ant-breadcrumb-separator">/</span>
            </span>*@
    </div>
</CascadingValue>