@page "/input"
@using LuanNiao.Blazor.Component.Antd.Input
@using LuanNiao.Blazor.Component.Antd.Icons


    <div>
        <br />
        <br />
        <Input placeholder="Basic usage" Disabled="true" />
        <br />
        <br />
        <br />
        <Input Size=" InputSize.Large" Placeholder="large size">
        <Prefix>
            <UserOutlined />
        </Prefix>
        </Input>

        <br />
        <br />
        <Input Placeholder="default size">
        <Prefix>
            <UserOutlined />
        </Prefix>
        </Input>
        <br />
        <br />

        <Input Size=" InputSize.Small" Placeholder="small size">
        <Prefix>
            <UserOutlined />
        </Prefix>
        </Input>


        <br />
        <br />


        <Input Placeholder="small size">
        <AddonAfter>
            <SettingOutlined />
        </AddonAfter>
        </Input>


        <br />
        <br />

        <Input Placeholder="small size">
        <AddonBefore>
            http://
        </AddonBefore>
        <AddonAfter>
            .com
        </AddonAfter>
        </Input>



        <br />
        <br />

        <Input Placeholder="small size">
        <AddonBefore>
            http://
        </AddonBefore>
        <Suffix>
            .com
        </Suffix>
        </Input>



        <br />
        <br />

        <Input Placeholder="small size">
        <AddonBefore>
            http://
        </AddonBefore>
        <Suffix>
            .com
        </Suffix>

        <AddonAfter>
            .com
        </AddonAfter>
        </Input>




        <br />
        <br />
        <Input>
        <Prefix>
            ￥
        </Prefix>
        <Suffix>
            RMB
        </Suffix>
        </Input>

        <br />
        <br />
        <Input Disabled="true">
        <Prefix>
            ￥
        </Prefix>
        <Suffix>
            RMB
        </Suffix>
        </Input>



        <br />
        <br />

        <Input Placeholder="Enter your username" >
                       <Prefix>
                           <UserOutlined className="site-form-item-icon" />
                       </Prefix>
                       <Suffix>
                           <Tooltip title="Extra information">
                               <InfoCircleOutlined CStyle="color: 'rgba(0,0,0,.45)" />
                           </Tooltip>
                       </Suffix>
        </Input>


    </div>