@page "/input"
@using LuanNiao.Blazor.Component.Antd.Input
@using LuanNiao.Blazor.Component.Antd.Icons


    <div>
        <br />
        <br />
        <Input placeholder="Basic usage" Disabled="true" />
        <br />
        <br />
        <br />
        <Input Size=" InputSize.Large" Placeholder="large size">
        <Prefix>
            <UserOutlined />
        </Prefix>
        </Input>

        <br />
        <br />
        <Input Placeholder="default size">
        <Prefix>
            <UserOutlined />
        </Prefix>
        </Input>
        <br />
        <br />

        <Input Size=" InputSize.Small" Placeholder="small size">
        <Prefix>
            <UserOutlined />
        </Prefix>
        </Input>
    </div>