@page "/layout"

@using LuanNiao.Blazor.Component.Antd.Layout
@using LuanNiao.Blazor.Component.Antd.Menu

<LNLayout>
    <Header>Header</Header>
    <Content>Content</Content>
    <Footer>Footer</Footer>
</LNLayout>

<br />
<br />
<br />
<br />
<br />
<LNLayout>
    <Header>Header</Header>
    <LNLayout>
        <Sider>Sider</Sider>
        <Content>Content</Content>
    </LNLayout>
    <Footer>Footer</Footer>
</LNLayout>

<br />
<br />
<br />
<br />
<br />
<LNLayout>
    <Header>Header</Header>
    <LNLayout>
        <Content>Content</Content>
        <Sider>Sider</Sider>
    </LNLayout>
    <Footer>Footer</Footer>
</LNLayout>

<br />
<br />
<br />
<br />
<br />

<LNLayout>
    <Sider>Sider</Sider>
    <LNLayout>
        <Header>Header</Header>
        <Content>Content</Content>
        <Footer>Footer</Footer>
    </LNLayout>
</LNLayout>


<br />
<br />
<br />
<br />
<br />




<LNLayout ClassName="layout">
    <Header>
        <div ClassName="logo" />
        <HorizontalMenu Theme="MenuBase.MenuTheme.Dark">
            <MenuItem key="1">nav 1</MenuItem>
            <MenuItem key="2">nav 2</MenuItem>
            <MenuItem key="3">nav 3</MenuItem>
        </HorizontalMenu>
    </Header>
    <Content>
        @*<Breadcrumb style=>
                <Breadcrumb.Item>Home</Breadcrumb.Item>
                <Breadcrumb.Item>List</Breadcrumb.Item>
                <Breadcrumb.Item>App</Breadcrumb.Item>
            </Breadcrumb>*@
        <div className="site-layout-content">Content</div>
    </Content>
    <Footer>Ant Design ©2018 Created by Ant UED</Footer>
</LNLayout>










































<style>


    .site-layout-content {
        background: #fff;
        padding: 24px;
        min-height: 280px;
    }

    #components-layout-demo-top .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
    }


    .code-box-demo {
        text-align: center;
    }

    .ant-layout-header,
    .ant-layout-footer {
        background: #7dbcea;
        color: #fff;
    }

    [data-theme="dark"] .ant-layout-header {
        background: #6aa0c7;
    }

    [data-theme="dark"] .ant-layout-footer {
        background: #6aa0c7;
    }

    .ant-layout-footer {
        line-height: 1.5;
    }

    .ant-layout-sider {
        background: #3ba0e9;
        color: #fff;
        line-height: 120px;
    }

    [data-theme="dark"] .ant-layout-sider {
        background: #3499ec;
    }

    .ant-layout-content {
        background: rgba(16, 142, 233, 1);
        color: #fff;
        min-height: 120px;
        line-height: 120px;
    }

    [data-theme="dark"] .ant-layout-content {
        background: #107bcb;
    }

    > .code-box-demo > div > .ant-layout {
        margin-bottom: 48px;
    }

        > .code-box-demo > div > .ant-layout:last-child {
            margin: 0;
        }
</style>