@page "/menu"
@using LuanNiao.Blazor.Component.Antd.Menu
@using LuanNiao.Blazor.Component.Antd.Icons
    <HorizontalMenu>
        <SubMenu>
            <Title>
                <FlagFilled Spin="true"></FlagFilled>
                asdadasd
            </Title>
            <ChildContent>
                <ItemGroup> 
                    <Title>
                        <AlibabaOutlined Spin="true"></AlibabaOutlined>
                        asdasd
                    </Title>
                    <ChildContent>
                        <Item><BookFilled Spin="true"></BookFilled>G1 Item1</Item>
                    </ChildContent>
                </ItemGroup>
            </ChildContent>
        </SubMenu>
        <Item><AccountBookFilled Spin="true"></AccountBookFilled> asdasdqweqwe</Item>
    </HorizontalMenu>


