@page "/modal"
@using LuanNiao.Blazor.Component.Antd.Modal;
@using LuanNiao.Blazor.Component.Antd.Button; 

<div class="box">
    <h3>Basic: Basic modal.</h3>
    <LNButton Type="LNButton.BType.Primary"  OnClickCallback="OnModalShow">Open Modal</LNButton>
    <LNModal Visible="@showModal" OnCancel="@OnCancel" OkText="sdfdsfd" >
        <Title>Hello, Basic Modal</Title>
        <ChildContent>
            <p>Some contents...</p>
            <p>Some contents...</p>
            <p>Some contents...</p>
        </ChildContent>
    </LNModal>
</div>

@code{
    private bool showModal = false;
    private void OnModalShow(LNButton _)
    {
        this.showModal = true;
        this.StateHasChanged();
    }
    private void OnCancel(LNModal _)
    {
        this.showModal = false;
        this.StateHasChanged();
    }

}