@page "/radio"
@using LuanNiao.Blazor.Component.Antd.Radio
@using LuanNiao.Blazor.Component.Antd.Icons
@using LuanNiao.Blazor.Component.Antd.Button

<LNRadio Checked="true">ClickRadio</LNRadio>
<LNRadio Checked="false">ClickRadio</LNRadio>
<LNRadio Disabled="@(disable)">Disbled</LNRadio>
<LNButton Type="LNButton.BType.Primary" OnClickCallback="NumPlus">Toggle disabled</LNButton>
<a>@disable</a>
<div>--</div>
<LNRadioGroup Disabled="true">
    <LNRadio  Checked="true" Value ="1">a</LNRadio>
    <LNRadio  Value ="2">b</LNRadio>
    <LNRadio  Value ="3">c</LNRadio>
    <LNRadio  Value ="4">d</LNRadio>
</LNRadioGroup>
<LNRadioGroup>
    <LNRadio Checked="true" Value="1">a</LNRadio>
    <LNRadio Value="2">b</LNRadio>
    <LNRadio Value="3">c</LNRadio>
    <LNRadio Value="4">d</LNRadio>
</LNRadioGroup>
<LNRadioGroup>
    <LNRadio Disabled="true" CStyle="display: block; height: 30px; line-height: 30px;" Value="VA">a</LNRadio>
    <LNRadio Checked="true" CStyle="display: block; height: 30px; line-height: 30px;" Value="VB">b</LNRadio>
    <LNRadio Value="VC"  CStyle="display: block; height: 30px; line-height: 30px;">c</LNRadio>
    <LNRadio Value="VD"  CStyle="display: block; height: 30px; line-height: 30px;">d</LNRadio>
</LNRadioGroup>
@code{
    private bool disable = true;
    private void NumPlus(LNButton _)
    {
        disable = !disable;
        this.StateHasChanged();
    }
}