@page "/Typography"

@using LuanNiao.Blazor.Component.Antd.Typography
@using  LuanNiao.Blazor.Component.Antd.Typography.Common
<Title>H1</Title>
<Title Level="2">H2</Title>
<Title Level="3">H3</Title>
<Title Level="4">H4</Title>
<Text>text</Text>
<br />
<Text Disabled="true">text</Text>
<br />
<Text Type="TypographyBase.TypographyMode.Danger">text</Text>
<br />
<Text Type="TypographyBase.TypographyMode.Warning">text</Text>
<br />
<Text  Type="TypographyBase.TypographyMode.Secondary">text</Text>
<br />
<Text Mark="true">
    Mark
</Text>
<Text Code="true">
    Code
</Text>
<Text Underline="true">
    Underline
</Text>
<Text Delete="true">
    Delete
</Text>
<Text Strong="true">
    Strong
</Text>