@inherits LuanNiao.Blazor.Core.LNBCBase
@using LuanNiao.Blazor.Component.Antd.DatePicker.StubChild
<div style="position: absolute; top: 0px; left: 0px; width: 100%;" onclick="LuanNiaoBlazor.BlockClickEvent()">
    <div>
        <div class="ant-picker-dropdown ant-picker-dropdown-placement-bottomLeft " style="left: @($"{_elementRects.Left}px"); top: @($"{_elementRects.Bottom}px");">
            <div class="ant-picker-panel-container">
                <div tabindex="-1" class="ant-picker-panel">
                    @if (_showDecade)
                    {
                        <DecadePicker @ref="_decadePicker"></DecadePicker>
                    }
                    @if (_showYear)
                    {
                        <YearPicker @ref="_yearPicker"></YearPicker>
                    }
                    @if (_showMonth)
                    {
                        <MonthPicker @ref="_monthPicker"></MonthPicker>
                    }
                    @if (_showWeek)
                    {
                        <WeekPicker @ref="_weekPicker"></WeekPicker>
                    }
                    @if (_showDate)
                    {
                        <DatePanelPicker @ref="_datePicker"></DatePanelPicker>
                    }
                </div>
            </div>
        </div>
    </div>
</div>