@inherits LuanNiao.Blazor.Core.LNBCBase
@using LuanNiao.Blazor.Component.Antd.Icons
@using Microsoft.AspNetCore.Components.Web

    <div class="ant-picker" id="@FirstInputOuterID">
        <div class="ant-picker-input">
            <input id="@FirstInputID" @onfocus="FirstPickerFocus"
                   onclick="LuanNiaoBlazor.BlockClickEvent()"
                   placeholder="@FirstInputPlaceHolder " title="@_firstInputValueStr" size="12" value="@_firstInputValueStr">
            <span class="ant-picker-suffix">
                <CalendarOutlined />
            </span>
            <span class="ant-picker-clear">
                <CloseCircleFilled OnClick="FirstInputClearValue" />
            </span>
        </div>
    </div>