@inherits LuanNiao.Blazor.Core.LNBCBase
<span class="@ClassName" style="@CStyle">
    @ChildContent
    @if (_countStrList.Count != 0 && !_countStrList[0].Equals("0"))
    {
        <sup data-show="true" class="ant-scroll-number ant-badge-count" title="5">

            @foreach (var item in _countStrList)
            {
                <span class="ant-scroll-number-only" style="transform: translateY(-1@(item)00%);">
                    <p class="ant-scroll-number-only-unit">0</p>
                    <p class="ant-scroll-number-only-unit">1</p>
                    <p class="ant-scroll-number-only-unit">2</p>
                    <p class="ant-scroll-number-only-unit">3</p>
                    <p class="ant-scroll-number-only-unit">4</p>
                    <p class="ant-scroll-number-only-unit">5</p>
                    <p class="ant-scroll-number-only-unit">6</p>
                    <p class="ant-scroll-number-only-unit">7</p>
                    <p class="ant-scroll-number-only-unit">8</p>
                    <p class="ant-scroll-number-only-unit">9</p>
                    <p class="ant-scroll-number-only-unit">0</p>
                    <p class="ant-scroll-number-only-unit">1</p>
                    <p class="ant-scroll-number-only-unit">2</p>
                    <p class="ant-scroll-number-only-unit">3</p>
                    <p class="ant-scroll-number-only-unit">4</p>
                    <p class="ant-scroll-number-only-unit">5</p>
                    <p class="ant-scroll-number-only-unit">6</p>
                    <p class="ant-scroll-number-only-unit">7</p>
                    <p class="ant-scroll-number-only-unit">8</p>
                    <p class="ant-scroll-number-only-unit">9</p>
                    <p class="ant-scroll-number-only-unit">0</p>
                    <p class="ant-scroll-number-only-unit">1</p>
                    <p class="ant-scroll-number-only-unit">2</p>
                    <p class="ant-scroll-number-only-unit">3</p>
                    <p class="ant-scroll-number-only-unit">4</p>
                    <p class="ant-scroll-number-only-unit">5</p>
                    <p class="ant-scroll-number-only-unit">6</p>
                    <p class="ant-scroll-number-only-unit">7</p>
                    <p class="ant-scroll-number-only-unit">8</p>
                    <p class="ant-scroll-number-only-unit">9</p>
                </span>
            }
        </sup>
    }
</span>