@inherits LuanNiao.Blazor.Component.Antd.Typography.Common.TypographyBase

    <div class="@ClassName" style="@CStyle" id="paragraph_@IdentityKey">
        @ChildContent
        @if (Icon != null)
        {
            @Icon
        }
    </div>