@inherits LuanNiao.Blazor.Core.LNBCBase


<div class="ant-table-wrapper">
    <div class="ant-spin-nested-loading">

        <div class="ant-spin-container">
            <div class="ant-table">
                <div class="ant-table-container">

                    <div class="ant-table-container">

                        <table style="table-layout: auto;">
                            <colgroup></colgroup>
                            <thead class="ant-table-thead">
                                <tr>
                                    @foreach (var item in ColumnItems)
                                    {
                                        <th class="ant-table-cell">@item.Title</th>
                                    }
                                </tr>
                            </thead>
                            <tbody class="ant-table-tbody">
                                <tr data-row-key="1" class="ant-table-row ant-table-row-level-0">
                                    <td class="ant-table-cell"><a>John Brown</a></td>
                                    <td class="ant-table-cell">32</td>
                                    <td class="ant-table-cell">New York No. 1 Lake Park</td>
                                    <td class="ant-table-cell"><span><span class="ant-tag ant-tag-green">NICE</span><span class="ant-tag ant-tag-geekblue">DEVELOPER</span></span></td>
                                    <td class="ant-table-cell"><span><a style="margin-right: 16px;">Invite John Brown</a><a>Delete</a></span></td>
                                </tr>
                                <tr data-row-key="2" class="ant-table-row ant-table-row-level-0">
                                    <td class="ant-table-cell"><a>Jim Green</a></td>
                                    <td class="ant-table-cell">42</td>
                                    <td class="ant-table-cell">London No. 1 Lake Park</td>
                                    <td class="ant-table-cell"><span><span class="ant-tag ant-tag-volcano">LOSER</span></span></td>
                                    <td class="ant-table-cell"><span><a style="margin-right: 16px;">Invite Jim Green</a><a>Delete</a></span></td>
                                </tr>
                                <tr data-row-key="3" class="ant-table-row ant-table-row-level-0">
                                    <td class="ant-table-cell"><a>Joe Black</a></td>
                                    <td class="ant-table-cell">32</td>
                                    <td class="ant-table-cell">Sidney No. 1 Lake Park</td>
                                    <td class="ant-table-cell"><span><span class="ant-tag ant-tag-green">COOL</span><span class="ant-tag ant-tag-geekblue">TEACHER</span></span></td>
                                    <td class="ant-table-cell"><span><a style="margin-right: 16px;">Invite Joe Black</a><a>Delete</a></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>