@inherits LuanNiao.Blazor.Core.LNBCBase


@using LuanNiao.Blazor.Component.Antd.Icons;

<div class="ant-modal-root">
    <div class="@MaskClass"></div>
    <div tabindex="-1"
         class="@ClassName"
         role="dialog"
         style="@CStyle"
         aria-labelledby="rcDialogTitle0">
        <div role="document"
             class="ant-modal"
             style="width: 520px; transform-origin: 63px -100px;">
            <div tabindex="0"
                 aria-hidden="true"
                 style="width: 0px; height: 0px; overflow: hidden; outline: none;"></div>
            <div class="ant-modal-content">
                <button type="button" aria-label="Close" class="ant-modal-close">
                    <span class="ant-modal-close-x">
                        <CloseCircleOutlined></CloseCircleOutlined>
                    </span>
                </button>
                <div class="ant-modal-header">
                    <div class="ant-modal-title" id="rcDialogTitle0">Basic Modal</div>
                </div>
                <div class="ant-modal-body">
                    <p>Some contents...</p>
                    <p>Some contents...</p>
                    <p>Some contents...</p>
                </div>
                <div class="ant-modal-footer">
                    <div>
                        <button type="button" class="ant-btn">
                            <span>Cancel</span>
                        </button><button type="button" class="ant-btn ant-btn-primary">
                            <span>OK</span>
                        </button>
                    </div>
                </div>
            </div>
            <div tabindex="0"
                 aria-hidden="true"
                 style="width: 0px; height: 0px; overflow: hidden; outline: none;"></div>
        </div>
    </div>
</div>
