@inherits LuanNiao.Blazor.Core.LNBCBase
@using LuanNiao.Blazor.Component.Antd.Icons;

<div class="@ClassName"
     style="@CStyle" @onclick="@OnTaggorOptions()">
    <div class="ant-select-selector">
        <span class="ant-select-selection-search">
            <input autocomplete="off"
                   class="ant-select-selection-search-input"
                   role="combobox"
                   aria-haspopup="listbox"
                   aria-owns="rc_select_0_list"
                   aria-autocomplete="list"
                   aria-controls="rc_select_0_list"
                   aria-activedescendant="rc_select_0_list_1"
                   readonly=""
                   value=""
                   style="opacity: 0;"
                   id="rc_select_0"
                   aria-expanded="false" />
        </span><span class="ant-select-selection-item">Lucy</span>
    </div>
    <span class="ant-select-arrow"
          unselectable="on"
          aria-hidden="true"
          style="user-select: none;">
        <DownOutlined></DownOutlined>
    </span>
</div>

