@inherits LuanNiao.Blazor.Core.LNBCBase



<div class="ant-select-item ant-select-item-option" id="@IdentityKey">
    <div class="ant-select-item-option-content" id="@($"MyInfoDiv_{IdentityKey}")">@ChildContent</div>
    <span class="ant-select-item-option-state" unselectable="on" style="user-select: none;"></span>
</div>