@*
      Pls don't modify this file, this file build by LuanNiao.Blazor.Component.Antd's icon-builder
*@

@inherits LuanNiao.Blazor.Core.LNBCBase 

<span role="img" aria-label="customer-service" class="@ClassName" style="@CStyle" id="@($"LNICON_{IdentityKey}")">
  <svg viewBox="0 0 1024 1024" focusable="false" class="@((Spin?"anticon-spin":""))" data-icon="customer-service" width="1em" height="1em" fill="currentColor" aria-hidden="true">
    <defs>
      <style type="text/css"></style>
    </defs>
    <path d="M512 128c-212.1 0-384 171.9-384 384v360c0 13.3 10.7 24 24 24h184c35.3 0 64-28.7 64-64V624c0-35.3-28.7-64-64-64H200v-48c0-172.3 139.7-312 312-312s312 139.7 312 312v48H688c-35.3 0-64 28.7-64 64v208c0 35.3 28.7 64 64 64h184c13.3 0 24-10.7 24-24V512c0-212.1-171.9-384-384-384zM328 632v192H200V632h128zm496 192H696V632h128v192z" xmlns="http://www.w3.org/2000/svg" />
  </svg>
</span>

@code{
    [Parameter]
    public bool Spin { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _classHelper.SetStaticClass("anticon anticon-customer-service");
    }
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            BindEvent();
        }
    }

    private void BindEvent()
    {
        ElementEventHub.GetElementInstance($"LNICON_{IdentityKey}")
            .Bind(this, nameof(Clicked)); 
    }
    
    [LuanNiao.Blazor.Core.ElementEventHub.Attributes.OnClickEvent]
    public void Clicked()
    {
        OnClick?.Invoke();
    }

    [Parameter]
    public Action OnClick { get; set; }
}