@*
      Pls don't modify this file, this file build by LuanNiao.Blazor.Component.Antd's icon-builder
*@

@inherits LuanNiao.Blazor.Core.LNBCBase
@using Microsoft.JSInterop

<span role="img" aria-label="font-size" class="@ClassName" style="@CStyle" id="@($"LNICON_{IdentityKey}")">
  <svg viewBox="0 0 1024 1024" focusable="false" class="@((Spin?"anticon-spin":""))" data-icon="font-size" width="1em" height="1em" fill="currentColor" aria-hidden="true">
    <defs>
      <style type="text/css"></style>
    </defs>
    <path d="M920 416H616c-4.4 0-8 3.6-8 8v112c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8v-56h60v320h-46c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h164c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8h-46V480h60v56c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V424c0-4.4-3.6-8-8-8zM656 296V168c0-4.4-3.6-8-8-8H104c-4.4 0-8 3.6-8 8v128c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-64h168v560h-92c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h264c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8h-92V232h168v64c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8z" xmlns="http://www.w3.org/2000/svg" />
  </svg>
</span>

@code{
    [Parameter]
    public bool Spin { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _classHelper.SetStaticClass("anticon anticon-font-size");
    }
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            BindEvent();
        }
    }

    private void BindEvent()
    {
        ElementInfo.BindClickEvent($"LNICON_{IdentityKey}", nameof(Clicked), this, true);
    }

    [JSInvokable]
    public void Clicked()
    {
        OnClick?.Invoke();
    }

    [Parameter]
    public Action OnClick { get; set; }
}