@*
      Pls don't modify this file, this file build by LuanNiao.Blazor.Component.Antd's icon-builder
*@

@inherits LuanNiao.Blazor.Core.LNBCBase

<span role="img" aria-label="lock" class="@ClassName" style="@CStyle">
  <svg viewBox="0 0 1024 1024" focusable="false" class="@((Spin?"anticon-spin":""))" data-icon="lock" width="1em" height="1em" fill="currentColor" aria-hidden="true">
    <defs>
      <style type="text/css"></style>
    </defs>
    <path d="M832 464h-68V240c0-70.7-57.3-128-128-128H388c-70.7 0-128 57.3-128 128v224h-68c-17.7 0-32 14.3-32 32v384c0 17.7 14.3 32 32 32h640c17.7 0 32-14.3 32-32V496c0-17.7-14.3-32-32-32zM540 701v53c0 4.4-3.6 8-8 8h-40c-4.4 0-8-3.6-8-8v-53a48.01 48.01 0 1 1 56 0zm152-237H332V240c0-30.9 25.1-56 56-56h248c30.9 0 56 25.1 56 56v224z" xmlns="http://www.w3.org/2000/svg" />
  </svg>
</span>

@code{
[Parameter]
public bool Spin { get; set; }
protected override void OnInitialized()
    {
        base.OnInitialized();
        _classHelper.SetStaticClass("anticon anticon-lock");
    }
}