@*
      Pls don't modify this file, this file build by LuanNiao.Blazor.Component.Antd's icon-builder
*@

@inherits LuanNiao.Blazor.Core.LNBCBase
@using Microsoft.JSInterop

<span role="img" aria-label="mail" class="@ClassName" style="@CStyle" id="@($"LNICON_{IdentityKey}")">
  <svg viewBox="0 0 1024 1024" focusable="false" class="@((Spin?"anticon-spin":""))" data-icon="mail" width="1em" height="1em" fill="currentColor" aria-hidden="true">
    <defs>
      <style type="text/css"></style>
    </defs>
    <path fill="#D9D9D9" d="M477.5 536.3L135.9 270.7l-27.5-21.4 27.6 21.5V792h752V270.8L546.2 536.3a55.99 55.99 0 0 1-68.7 0z" xmlns="http://www.w3.org/2000/svg" /> <path fill="#D9D9D9" d="M876.3 198.8l39.3 50.5-27.6 21.5 27.7-21.5-39.3-50.5z" xmlns="http://www.w3.org/2000/svg" /> <path d="M928 160H96c-17.7 0-32 14.3-32 32v640c0 17.7 14.3 32 32 32h832c17.7 0 32-14.3 32-32V192c0-17.7-14.3-32-32-32zm-94.5 72.1L512 482 190.5 232.1h643zm54.5 38.7V792H136V270.8l-27.6-21.5 27.5 21.4 341.6 265.6a55.99 55.99 0 0 0 68.7 0L888 270.8l27.6-21.5-39.3-50.5h.1l39.3 50.5-27.7 21.5z" xmlns="http://www.w3.org/2000/svg" />
  </svg>
</span>

@code{
    [Parameter]
    public bool Spin { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _classHelper.SetStaticClass("anticon anticon-mail");
    }
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            BindEvent();
        }
    }

    private void BindEvent()
    {
        ElementInfo.BindClickEvent($"LNICON_{IdentityKey}", nameof(Clicked), this, true);
    }

    [JSInvokable]
    public void Clicked()
    {
        OnClick?.Invoke();
    }

    [Parameter]
    public Action OnClick { get; set; }
}