@*
      Pls don't modify this file, this file build by LuanNiao.Blazor.Component.Antd's icon-builder
*@

@inherits LuanNiao.Blazor.Core.LNBCBase
@using Microsoft.JSInterop

<span role="img" aria-label="node-expand" class="@ClassName" style="@CStyle" id="@($"LNICON_{IdentityKey}")">
  <svg viewBox="0 0 1024 1024" focusable="false" class="@((Spin?"anticon-spin":""))" data-icon="node-expand" width="1em" height="1em" fill="currentColor" aria-hidden="true">
    <defs>
      <style type="text/css"></style>
    </defs>
    <defs xmlns="http://www.w3.org/2000/svg">
  <style type="text/css"></style>
</defs> <path d="M952 612c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H298c-14.2-35.2-48.7-60-89-60-53 0-96 43-96 96s43 96 96 96c40.3 0 74.8-24.8 89-60h150.3v152c0 55.2 44.8 100 100 100H952c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H548.3c-15.5 0-28-12.5-28-28V612H952zM456 344h264v98.2c0 8.1 9.5 12.8 15.8 7.7l172.5-136.2c5-3.9 5-11.4 0-15.3L735.8 162.1c-6.4-5.1-15.8-0.5-15.8 7.7V268H456c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8z" p-id="9960" xmlns="http://www.w3.org/2000/svg"></path>
  </svg>
</span>

@code{
    [Parameter]
    public bool Spin { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _classHelper.SetStaticClass("anticon anticon-node-expand");
    }
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            BindEvent();
        }
    }

    private void BindEvent()
    {
        ElementInfo.BindClickEvent($"LNICON_{IdentityKey}", nameof(Clicked), this, true);
    }

    [JSInvokable]
    public void Clicked()
    {
        OnClick?.Invoke();
    }

    [Parameter]
    public Action OnClick { get; set; }
}