@*
      Pls don't modify this file, this file build by LuanNiao.Blazor.Component.Antd's icon-builder
*@

@inherits LuanNiao.Blazor.Core.LNBCBase

<span role="img" aria-label="number" class="@ClassName" style="@CStyle">
  <svg viewBox="64 64 896 896" focusable="false" class="@((Spin?"anticon-spin":""))" data-icon="number" width="1em" height="1em" fill="currentColor" aria-hidden="true">
    <defs>
      <style type="text/css"></style>
    </defs>
    <path d="M872 394c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8H708V152c0-4.4-3.6-8-8-8h-64c-4.4 0-8 3.6-8 8v166H400V152c0-4.4-3.6-8-8-8h-64c-4.4 0-8 3.6-8 8v166H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h168v236H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h168v166c0 4.4 3.6 8 8 8h64c4.4 0 8-3.6 8-8V706h228v166c0 4.4 3.6 8 8 8h64c4.4 0 8-3.6 8-8V706h164c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8H708V394h164zM628 630H400V394h228v236z" xmlns="http://www.w3.org/2000/svg" />
  </svg>
</span>

@code{
[Parameter]
public bool Spin { get; set; }
protected override void OnInitialized()
    {
        base.OnInitialized();
        _classHelper.SetStaticClass("anticon anticon-number");
    }
}