@*
      Pls don't modify this file, this file build by LuanNiao.Blazor.Component.Antd's icon-builder
*@

@inherits LuanNiao.Blazor.Core.LNBCBase 

<span role="img" aria-label="play-circle" class="@ClassName" style="@CStyle" id="@($"LNICON_{IdentityKey}")">
  <svg viewBox="0 0 1024 1024" focusable="false" class="@((Spin?"anticon-spin":""))" data-icon="play-circle" width="1em" height="1em" fill="currentColor" aria-hidden="true">
    <defs>
      <style type="text/css"></style>
    </defs>
    <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z" xmlns="http://www.w3.org/2000/svg" /> <path d="M719.4 499.1l-296.1-215A15.9 15.9 0 0 0 398 297v430c0 13.1 14.8 20.5 25.3 12.9l296.1-215a15.9 15.9 0 0 0 0-25.8zm-257.6 134V390.9L628.5 512 461.8 633.1z" xmlns="http://www.w3.org/2000/svg" />
  </svg>
</span>

@code{
    [Parameter]
    public bool Spin { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _classHelper.SetStaticClass("anticon anticon-play-circle");
    }
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            BindEvent();
        }
    }

    private void BindEvent()
    {
        ElementEventHub.GetElementInstance($"LNICON_{IdentityKey}")
            .Bind(this, nameof(Clicked)); 
    }
    
    [LuanNiao.Blazor.Core.ElementEventHub.Attributes.OnClickEvent]
    public void Clicked()
    {
        OnClick?.Invoke();
    }

    [Parameter]
    public Action OnClick { get; set; }
}