@inherits LuanNiao.Blazor.Core.LNBCBase

<div class="ant-spin ant-spin-lg ant-spin-spinning ant-spin-show-text bbbss"
     style="width: 40px;">
    <span class="ant-spin-dot ant-spin-dot-spin">
        <i class="ant-spin-dot-item"></i>
        <i class="ant-spin-dot-item"></i>
        <i class="ant-spin-dot-item"></i>
        <i class="ant-spin-dot-item"></i>
    </span>
    <div class="ant-spin-text">loading</div>
</div>
