@page "/backtop"
@using LuanNiao.Blazor.Component.Antd.BackTop

<h3>返回顶部</h3>

<div>
    <div style="height: 1800px; background-color: #eee;"></div>
    <BackTop VisibilityHeight="100">
        <div style="height: 40px; width: 40px; line-height: 40px; border-radius: 4px; background-color: rgb(16, 136, 233); color: rgb(255, 255, 255); text-align: center; font-size: 14px;">UP</div>
    </BackTop>

    <BackTop VisibilityHeight="200">
        <div style="height: 40px; width: 40px; margin-left: -200px; line-height: 40px; border-radius: 4px; background-color: rgb(16, 136, 233); color: rgb(255, 255, 255); text-align: center; font-size: 14px;">UP2</div>
    </BackTop>
</div>

@code {

}
