@layout MainLayout
@page "/eventhubTest"
@inherits LuanNiao.Blazor.Core.LNBCBase
<div id="TestInfo" style="width:400px;height:400px;background-color:red;display:inline-block">

</div>

<div style="width: 400px;height: 400px;display:inline-block">

</div>
<div id="TestInfo1" style="width:400px;height:400px;background-color:green;display:inline-block">

</div>

<input id="input1" />


<div style="height:600px;background-color:aqua; overflow:scroll; " id="scrolltest">
    <div style="height:1000px;width:100px;float:initial"></div>
</div>