@layout MainLayout
@page "/tag"

@using LuanNiao.Blazor.Component.Antd.Tag
@using LuanNiao.Blazor.Component.Antd.Icons


<Tag>
    Tag 1
</Tag>

<Tag>
    <a href="https://github.com/ant-design/ant-design/issues/1862">Link</a>
</Tag>

<Tag Closeable="true">
    Tag 2
</Tag>



<div>
    <h4 style="margin-Bottom:16px">Presets:</h4>
    <div>
        <Tag BuildInColor="TagColor.Magenta">magenta</Tag>
        <Tag BuildInColor="TagColor.Red">red</Tag>
        <Tag BuildInColor="TagColor.Volcano">volcano</Tag>
        <Tag BuildInColor="TagColor.Orange">orange</Tag>
        <Tag BuildInColor="TagColor.Gold">gold</Tag>
        <Tag BuildInColor="TagColor.Lime">lime</Tag>
        <Tag BuildInColor="TagColor.Green">green</Tag>
        <Tag BuildInColor="TagColor.Cyan">cyan</Tag>
        <Tag BuildInColor="TagColor.Blue">blue</Tag>
        <Tag BuildInColor="TagColor.Geekblue">geekblue</Tag>
        <Tag BuildInColor="TagColor.Purple">purple</Tag>
        <Tag BuildInColor="TagColor.Success">success</Tag>
        <Tag BuildInColor="TagColor.Processing">processing</Tag>
        <Tag BuildInColor="TagColor.Error">error</Tag>
        <Tag BuildInColor="TagColor.Warning">warning</Tag>
        <Tag BuildInColor="TagColor.Default">default</Tag>
    </div>
    <h4 style="margin-Bottom:16px">Presets:</h4>
    <div>
        <Tag BuildInColor="TagColor.Magenta" Closeable="true">magenta</Tag>
        <Tag BuildInColor="TagColor.Red" Closeable="true">red</Tag>
        <Tag BuildInColor="TagColor.Volcano" Closeable="true">volcano</Tag>
        <Tag BuildInColor="TagColor.Orange" Closeable="true">orange</Tag>
        <Tag BuildInColor="TagColor.Gold" Closeable="true">gold</Tag>
        <Tag BuildInColor="TagColor.Lime" Closeable="true">lime</Tag>
        <Tag BuildInColor="TagColor.Green" Closeable="true">green</Tag>
        <Tag BuildInColor="TagColor.Cyan" Closeable="true">cyan</Tag>
        <Tag BuildInColor="TagColor.Blue" Closeable="true">blue</Tag>
        <Tag BuildInColor="TagColor.Geekblue" Closeable="true">geekblue</Tag>
        <Tag BuildInColor="TagColor.Purple" Closeable="true">purple</Tag>
        <Tag BuildInColor="TagColor.Success" Closeable="true">success</Tag>
        <Tag BuildInColor="TagColor.Processing" Closeable="true">processing</Tag>
        <Tag BuildInColor="TagColor.Error" Closeable="true">error</Tag>
        <Tag BuildInColor="TagColor.Warning" Closeable="true">warning</Tag>
        <Tag BuildInColor="TagColor.Default" Closeable="true">default</Tag>
    </div>
    <h4 style="margin:16px 0">Custom:</h4>
    <div>
        <Tag CustomColor="#f50">#f50</Tag>
        <Tag CustomColor="#2db7f5">#2db7f5</Tag>
        <Tag CustomColor="#87d068">#87d068</Tag>
        <Tag CustomColor="#108ee9">#108ee9</Tag>
    </div>


    <h4 style="margin:16px 0">Checkable:</h4>
    <div>
        <CheckableTag Checked="true">Tag1</CheckableTag>
        <CheckableTag>Tag2</CheckableTag>
        <CheckableTag>Tag3</CheckableTag>
    </div>


    <h4 style="margin:16px 0">Checkable:</h4>
    <div>
        <h4>With icon</h4>
        <Tag BuildInColor="TagColor.Success">
            <Icon>
                <CheckCircleOutlined />
            </Icon>
            <ChildContent>
                success
            </ChildContent>
        </Tag>
        <Tag BuildInColor="TagColor.Processing">
            <Icon>
                <SyncOutlined Spin="true" />
            </Icon>
            <ChildContent>
                processing
            </ChildContent>
        </Tag>
        <Tag BuildInColor="TagColor.Error">

            <Icon>
                <CloseCircleOutlined />
            </Icon>
            <ChildContent>
                error
            </ChildContent>

        </Tag>
        <Tag BuildInColor="TagColor.Warning">

            <Icon>
                <ExclamationCircleOutlined />
            </Icon>
            <ChildContent>
                warning
            </ChildContent>

        </Tag>
        <Tag BuildInColor="TagColor.Default">

            <Icon>
                <ClockCircleOutlined />
            </Icon>
            <ChildContent>
                default
            </ChildContent>

        </Tag>

    </div>
</div>