@inherits LuanNiao.Blazor.Core.LNBCBase

<aside class="ant-layout-sider ant-layout-sider-dark" style="flex: 0 0 200px; max-width: 200px; min-width: 200px; width: 200px;">
    <div class="ant-layout-sider-children">
        @ChildContent
    </div>
</aside>