@inherits LuanNiao.Blazor.Core.LNBCBase
@{ RenderFragment data =@<input placeholder="@Placeholder" type="text" class="@ClassName" style="@CStyle" value="" />; }


@if (Prefix != null)
{
<span class="@_wrapperClassName">
    <span class="ant-input-prefix">
        @Prefix
    </span>
    @data
</span>
}