@using LuanNiao.Blazor.Component.Antd.Icons
@using Microsoft.AspNetCore.Components.Web 
@inherits LuanNiao.Blazor.Core.LNBCBase

<span class="@ClassName" style="@CStyle">
    @Icon
    @ChildContent

    @if (Closeable)
    {
        <CloseOutlined OnClick="IconClicked"/>
    }
</span>