@inherits LuanNiao.Blazor.Core.LNBCBase
@using LuanNiao.Blazor.Component.Antd.Icons
@using Microsoft.AspNetCore.Components.Web
    <div class="@ClassName ant-radio-group-outline" id="rdp_@IdentityKey">
        @ChildContent
         @*<label class="ant-radio-wrapper ant-radio-wrapper-checked">
             <span class="ant-radio ant-radio-checked">
                <input name="radiogroup" type="radio" class="ant-radio-input" value="1" checked="">
                 <span class="ant-radio-inner"></span>
             </span>
            <span>A</span>
        </label>*@
    </div>